.restaurant__view {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.search__bar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  border-bottom: solid 1px #e0e0e0;
}

mat-form-field {
  width: 50%;
  min-width: 200px;
  margin-bottom: 0px;
  height: 30px !important;
}

:host ::ng-deep {
  .search__bar {
    .mat-label {
      color: #666666;
    }
    .mat-form-field-wrapper {
      border: solid 1.5px #c2c2c2 !important;
      padding-bottom: 0px !important;
      border-radius: 4px !important;
      margin: 1px;
      z-index: 2;
    }

    .mat-form-field-label {
      left: 10px !important;
      margin-top: 0px;
      color: #666666 !important;
    }

    .mat-form-field-underline {
      display: none !important;
    }

    .mat-input-element {
      height: 20px;
    }

    .mat-form-field-wrapper:focus-within {
      border: solid 1.5px #d50000 !important;
    }

    .mat-form-field-flex {
      background-color: white;
      border-radius: 4px !important;
    }

    .mat-form-field-infix {
      padding-left: 10px !important;
      padding: 4px 0px;
      border: 0px;
    }
    .mat-form-field-suffix {
      padding-right: 4px !important;
      top: -1px !important;
    }
  }
}
